.container {
  --radius: 4px;
  width: 40%;
  height: 63%;
  background: rgb(245, 245, 245);
  position: absolute;
  bottom: 0;
  left: 35%;
  cursor: move;
  box-sizing: border-box;
  z-index: 100;
  border-radius: var(--radius);
  border: 1px solid rgb(238, 238, 238);
}

.dragging {
  opacity: 0.7;
}

.container .header {
  width: 100%;
  background: #4184f3;
  padding: 16px;
  box-sizing: border-box;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.header h3 {
  color: white;
  margin-bottom: 6px;
  font-size: 1rem;
  font-weight: 500;
}

.header h3 span {
  font-size: 0.7rem;
}

.market-options {
  font-size: 0.8rem;
  color: white;
}

.market-options label {
  margin-right: 10px;
  cursor: pointer;
}

.tab {
  width: 100%;
  border-bottom: 2px solid rgba(180, 180, 180, 0.6);
  background: #f9f9f9;
}

.tab button {
  border: none;
  padding: 14px 16px;
  background: transparent;
  color: #4184f3;
  cursor: pointer;
  font-size: 0.8rem;
}

.regular-order {
  padding: 20px 26px;
  background: white;
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 18px;
}

.inputs fieldset {
  border: 1px solid #ddd;
  max-width: 120px;
}

.inputs fieldset legend {
  margin-left: 10px;
  font-size: 0.8rem;
}

.inputs fieldset input {
  border: none;
  padding: 10px;
  width: 100px;
  font-size: 1rem;
}

.options span {
  color: #4184f3;
  font-size: 0.8rem;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.btn {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 2px;
  margin: 0 4px;
  font-size: 0.9rem;
  color: white;
}

.btn-blue {
  background: #4184f3;
}

.btn-blue:hover {
  background: #74a7fa;
}

.btn-grey {
  background: #d4d4d4;
  color: black;
}

.btn-grey:hover {
  background: #9b9b9b;
  color: white;
}
